{% extends 'base2.html' %}
{% load static %}
{% static "images" as baseURL %}}
{% block content %}


  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">All Available Mess Hotels And Canteen </h1>
              <span class="color-text-a"></span>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- =======  Blog Grid ======= -->
    <section class="news-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="{% static 'assets11/img/post-7.jpg' %}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Food</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html">Sadanand Mess
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">Gridih</span>
                  </div>
                  <br><a href="#" class="category-b " style="color:blue">Join Now</a>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="{% static 'assets11/img/post-7.jpg' %}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Food</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html">Sadanand Mess
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">Gridih</span>
                  </div>
                  <br><a href="#" class="category-b " style="color:blue">Join Now</a>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="{% static 'assets11/img/post-7.jpg' %}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Food</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html">Sadanand Mess
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">Gridih</span>
                  </div>
                  <br><a href="#" class="category-b " style="color:blue">Join Now</a>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="{% static 'assets11/img/post-7.jpg' %}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Food</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html">Sadanand Mess
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">Gridih</span>
                  </div>
                  <br><a href="#" class="category-b " style="color:blue">Join Now</a>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="{% static 'assets11/img/post-7.jpg' %}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Food</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html">Sadanand Mess
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">Gridih</span>
                  </div>
                  <br><a href="#" class="category-b " style="color:blue">Join Now</a>
                </div>
              </div>
            </div>
          </div>
           <div class="col-md-4">
            <div class="card-box-b card-shadow news-box">
              <div class="img-box-b">
                <img src="{% static 'assets11/img/post-7.jpg' %}" alt="" class="img-b img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-header-b">
                  <div class="card-category-b">
                    <a href="#" class="category-b">Food</a>
                  </div>
                  <div class="card-title-b">
                    <h2 class="title-2">
                      <a href="blog-single.html">Sadanand Mess
                        </a>
                    </h2>
                  </div>
                  <div class="card-date">
                    <span class="date-b">Gridih</span>
                  </div>
                  <br><a href="#" class="category-b " style="color:blue">Join Now</a>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <span class="ion-ios-arrow-back"></span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="#">
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Blog Grid-->

  </main><!-- End #main -->
{% endblock %}