{% extends 'base2.html' %}
{% load static %}
{% block content %}

<style>
	.contact-form.wthree {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    -webkit-box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:3px 3px 13px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.5);
}
.contact input[type="text"], .contact input[type="email"], .contact textarea  {
    width: 100%;
    color: #000;
    background: none;
    outline: none;
    font-size: 15px;
    padding: 13px 12px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
}
.contact textarea {
    min-height: 12em;
    resize: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 10px 42px;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #FF5722;
    border: 2px solid #FF5722;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.contact  input[type="submit"]:hover {
    background: none;
    color: #FF5722;
}
.contact::-webkit-input-placeholder {
	color:#999 !important;
}
.contact:-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
.contact::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
.contact:-ms-input-placeholder {
	color:#999 !important;
}
.contact-right h4 {
    font-size: 30px;
    color: #FF5722;
    letter-spacing: 1px;
}
.contact-text {
    padding: 3em;
}
.contact-right.wthree {
    margin-top: 70px;
}
.contact-text p {
    margin-top: 20px;
    text-align: left;
}
.contact-text p a{
    color:#FF5722;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-text p a:hover{
    color:#999;
}
.contact-text p i.fa {
    margin-right: 10px;
    color: #1accfd;
}
.map iframe {
    width: 100%;
    min-height: 400px;
    border: 8px solid #FF5722;
    padding: 10px;
    display: inherit;
}

.premium label{
   color: #a51515;
   font-size: 15px;
   font-weight: 600;
   padding: 13px 12px;
}
/*-- //contact --*/
</style>
	<!-- page -->
	<!-- //page -->
	<!-- contact page -->
<br><br><br><br>
	<div class="contact-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center">Add Premium
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- contact -->
			<div class="contact agileits">
				<div class="contact-agileinfo">
					<div class="contact-form wthree">
						<form id="premiumPlan">
							{% csrf_token %}
							<table class="premium">
								<tr>
									<th>Choose One Plan</th>
									<th>Validity</th>
									<th>Amount (Rs)</th>
								</tr>
								{% for plan in plans %}
								<tr>
									<td>
										<input type="radio" id="plan" name="plan" value="{{ plan.id }}">
										<label for="plan">{{ plan.name }}</label>
									</td>
									<td>{{ plan.duration }}</td>
									<td>{{ plan.Amount }}</td>
								</tr>
								{% endfor %}
							</table>
							<input type="submit" id="prem" value="ADD Premium">
						</form>
					</div>
				</div>
			</div>

			<!-- //contact -->
		</div>
	</div>

   <script type="text/javascript">

		var user = '{{request.user}}'
		var csrftoken = undefined;
		function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie !== '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = cookies[i].trim();
                     // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                           break;
                    }
                 }
             }
             return cookieValue;

        }
        document.addEventListener("DOMContentLoaded", function(event) {

			  csrftoken = getCookie('csrftoken');
		  });

        var premium = document.getElementById('premiumPlan')
		premium.addEventListener('submit', function(e){
			e.preventDefault()
			console.log('Clicked on ADD Premium')
		    AddPremium()
		    document.getElementById('prem').classList.add("hidden");

		})

		function AddPremium(){

			var premiumData = {

				'id':{{request.user.profile.id}},
				'planId':null
			}

            premiumData.planId = premium.plan.value
            console.log(premiumData.planId );
			var url = "http://"+url_link+"/api/AddPremium"
			fetch(url, {
				method:'PUT',
				headers:{
					'Content-Type':'applicaiton/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify(premiumData),

			})
			.then((response) => response.json())
			.then((data) => {
				if (data.status){
				   console.log(data)
				   alert("Premium  Added Successfully !")
				    window.location.href = "/rent/home"


				}
				else{
				  alert("Premium not Added try again")
		//          window.location.href = "/rent/home"
				}



			})
		}


	</script>

	{% endblock %}
