{% extends 'base2.html' %}
{% load static %}
{% static "images" as baseURL %}

{% block content %}
<style type="text/css">
  .profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh;
    overflow-x: hidden
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #eee;
}
</style>


<body>
<br><br><br><br>
<div class="container">
    <h2 class="text-center" style="color:#f8fffd;font-weight: 800;"> Our Services </h2>
    <h2 class="text-center" style="color: yellow;"> Explore any of our services OR Enroll as service providers </h2>
    <br><br><br>
    <div class="container">
        <ul class="card-list">
            {% for service_type in service_list %}
                <li class="card" onclick="location.href='/rent/service-providers/{{service_type.service_type_for_url}}/'">
                    <h3>{{ service_type.name }}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
{% endblock %}
