{% extends 'base2.html' %}
{% load static %}
{% static "images" as baseURL %}

{% block content %}
<div>
    <br><br>
</div>
<!--- Confirm Reset Password  Form --------------->

<!--    <div class="modal-dialog modal-md">-->

<!--        <div class="modal-body">-->
<!--            <div class="modal-content">-->
            <div class="form-v4">
                <div class="page-content">
                    <div class="form-v4-content">

                        <form class="form-detail" action="#" id="reset_pass_cnf_form">
                             {% csrf_token %}
                            <h2>RESET PASSWORD FORM</h2>
                            <div class="form-group">
                                <div class="form-row form-row-1 ">
                                    <label for="newpassword">New Password</label>
                                    <input type="password" name="newpassword" id="newpassword" class="input-text" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row form-row-1">
                                    <label for="confirm_password">Comfirm Password</label>
                                    <input type="password" name="confirm_password" id="confirm_password" class="input-text" required>
                                </div>
                            </div>
                            <div class="form-row-last">
                                <input type="submit" name="Reset" class="register" value="Reset">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!---- End Confirm reset password Form -------->


    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
            // just for the demos, avoids form submit
            jQuery.validator.setDefaults({
                debug: true,
                success:  function(label){
                    label.attr('id', 'valid');
                },
            });
            $( "#reset_pass_cnf_form" ).validate({
                rules: {
                    newpassword: "required",
                    confirm_password: {
                        equalTo: "#newpassword"
                    }
                },
                messages: {

                    newpassword: {
                        required: "Please enter a password"
                    },
                    confirm_password: {
                        required: "Please enter a password",
                        equalTo: "Wrong Password"
                    }
                }
            });
        </script>

<script type="text/javascript">
console.log("Ye confirm reset password ka form hai bc")
var resetPwdcnform = document.getElementById('reset_pass_cnf_form')
resetPwdcnform.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Clicked on Reset Password...')



    var newpass_cnf = resetPwdcnform.newpassword.value
    var cnfPass_cnf = resetPwdcnform.confirm_password.value


    if (newpass_cnf == cnfPass_cnf ){
        console.log("Password matched new and cnf for cnfreset pass")

         Reset_Pass_Conf()

     }
     else{
        alert("New Password not matched with confirm password Try again")
     }
//    document.getElementById('confirm-change').classList.add("hidden");

  })


function Reset_Pass_Conf(){

    var url = "http://"+url_link+"/api/confirmation/{{token}}"
    fetch(url, {
        method:'POST',
        headers:{
            'Content-Type':'applicaiton/json',
            'X-CSRFToken':csrftoken,
        },
        body:JSON.stringify({"password":resetPwdcnform.newpassword.value}),

    })
    .then((response) => response.json())
    .then((data) => {
        if (data.status){
           console.log(data)
           window.location.href = "http://127.0.0.1:8000/"
           alert("Password Reset Successful  ")


        }
        else{

          console.log(data)
          window.location.href = "http://127.0.0.1:8000/"
          alert("Failed to reset your password try again")

        }



    })
}


</script>


{% endblock %}